{% extends "layout.html.twig" %}
{% block head %}
    <title>CONTACTEZ NOUS</title>{% endblock %}
{% block content %}
<!-- Main Start -->
<main>

    <!-- Contact Start -->
    <section id="contact" class="section p-0px-b contact-section">
        <div class="container">
            <div class="row justify-content-center m-60px-b md-m-40px-b">
                <div class="col-12 col-md-10 col-lg-7">
                    <div class="section-title text-center">
                        <h2 class="font-alt">ME CONTACTER</h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="contact-us-box">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="contact-info-box">
                            <h2>NOTRE LOCALISATION</h2>
                            <p class="desc"></p>
                            <div class="contact-info">
                                <i class="icon theme-bg ti-direction"></i>
                                <p>Bd. de Marseille face à Bernabe -<br/> Km 4
                                    Treichville - <br/>18 BP 1501 Abidjan 18<br/>
                                    Abidjan - Côte d’Ivoire</p>
                            </div>

                            <div class="contact-info">
                                <i class="icon theme-bg ti-email"></i>
                                <p>drigos1er@yahoo.fr</p>
                            </div>

                            <div class="contact-info">
                                <i class="icon theme-bg ti-mobile"></i>
                                <p>+225 58099212,<br/> +225 05374575</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Contact Form -->
                        <div class="contact-form">

                            <h2>Exprimez vous</h2>

                            <p> {% if session.flash %}
                            <div class="alert-danger"> {{ session.flash }}</div>

                            {% endif %}</p>

                            <form method="post" action="index.php?key=formcontact">
                                <div class="form-group">
                                    <input name="name" placeholder="Nom et Prénoms" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <input name="email" placeholder="Email" class="form-control" type="email">
                                </div>
                                <div class="form-group">
                                    <input name="subject" placeholder="Objet" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" placeholder="Votre message" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="send">
                                    <button class="m-btn m-btn-theme"><i class="fa fa-envelope-o" aria-hidden="true"></i>Envoyer</button>
                                </div>
                            </form>
                        </div>
                        <!-- / -->
                    </div>

                </div>
            </div>
        </div> <!-- Container -->
    </section>
    <!-- Contact End -->


</main>
<!-- Main End -->
{% endblock content %}