{% extends "layout.html.twig" %}


{% block head %}
    <title>CONNECTEZ-VOUS</title>{% endblock %}


{% block content %}
    <main>








        <!-- Contact Start -->
        <section id="contact" class="section p-0px-b contact-section">
            <div class="container">


                <div class="contact-us-box">
                     <div class="row no-gutters">

                     <div class="col-md-6 ">



                            <!-- Contact Form-->
                            <div class="contact-form">
                                <h2>Ajouter un compte Administrateur</h2>

                                <p> {% if session.flash %}
                                <div class="alert-danger"> {{ session.flash }}</div>

                                {% endif %}</p>
                                <form method="post" action="">

                                    <div class="form-group">
                                        <input name="username" placeholder="Nom d'utilisateur" class="form-control" type="text" required>
                                    </div>

                                    <div class="form-group">
                                        <input name="firstname" placeholder="Nom" class="form-control" type="text" required>
                                    </div>


                                    <div class="form-group">
                                        <input name="lastname" placeholder="Prénoms" class="form-control" type="text" required>
                                    </div>

                                    <div class="form-group">
                                        <input name="email" placeholder="Email" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <input name="contact" placeholder="Contact" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <input name="passwd" placeholder="Mot de Passe" class="form-control" type="password" required>
                                    </div>

                                    <div class="form-group">
                                        <input name="passwd_confirm" placeholder="Confirmer Mot de Passe" class="form-control" type="password" required>
                                    </div>

                                    <div class="send">
                                        <button class="m-btn m-btn-theme" type="submit"><i class="fa fa-envelope-o" aria-hidden="true"></i>Ajouter</button>
                                    </div>
                                </form>
                            </div>
                            <!-- / -->
                        </div>

                    </div>
                </div>
            </div> <!-- Container -->
        </section>
        <!-- Contact End -->


    </main>
    <!-- Main End -->
{% endblock content %}